/**********************
 * Whisker menu *
 *
 * created by https://github.com/hiukky
 **********************/

window#whiskermenu-window scrolledwindow scrollbar {
  border-color: #ffffff;
}

window#whiskermenu-window
  scrolledwindow
  scrollbar.overlay-indicator:not(.dragging):not(.hovering)
  slider {
  background-color: #ffffff;
}

window#whiskermenu-window scrolledwindow scrollbar slider {
  background-color: #ffffff;
}

window#whiskermenu-window scrolledwindow scrollbar slider:hover {
  background-color: #ffffff;
}

window#whiskermenu-window scrolledwindow scrollbar slider:hover:active {
  background-color: #ffffff;
}

window#whiskermenu-window scrolledwindow scrollbar slider:disabled {
  background-color: transparent;
}

window#whiskermenu-window scrolledwindow scrollbar trough {
  background-color: #ffffff;
}

window#whiskermenu-window {
  background-color: rgba(24, 39, 57, 1);
  color: #ffffff;
  border-radius: 20px;
}

window#whiskermenu-window > frame {
  background-color: rgba(24, 39, 57, 1);
  border-radius: 20px;
  padding: 10px;
  margin-top: 10px;
}

window#whiskermenu-window > frame > border {
  border-radius: 20px;
  border: none;
}

window#whiskermenu-window button {
  background-color: transparent;
  background-clip: padding-box;
  color: #ffffff;
  font-weight: bold;
  border-radius: 15px;
  border: 0;
  padding: 3px;
}

window#whiskermenu-window button:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  border: 0;
}

window#whiskermenu-window button:checked,
window#whiskermenu-window button:active {
  background-color: rgba(255, 255, 255, 0.3);
  color: #ffffff;
}

window#whiskermenu-window button:disabled {
  color: rgba(255, 255, 255, 0.6);
  border-color: rgba(0, 0, 0, 0.15);
}

window#whiskermenu-window entry {
  background-color: rgba(24, 39, 57, 1);
  color: #ffffff;
  border-color: rgba(52, 64, 83, 0.7);
  border-radius: 30px;
  padding: 8px 12px 8px 12px;
  margin-bottom: 10px;
}

window#whiskermenu-window entry image {
  color: #ffffff;
}

window#whiskermenu-window entry:focus {
  border-color: rgba(255, 255, 255, 0.7);
}

window#whiskermenu-window entry:focus image {
  color: #ffffff;
}

window#whiskermenu-window entry:disabled {
  border-color: rgba(52, 64, 83, 0.5);
  background-color: rgba(27, 34, 36, 0.45);
}

window#whiskermenu-window entry:disabled image {
  color: #ffffff;
}

window#whiskermenu-window scrolledwindow {
  background-color: rgba(24, 39, 57, 1);
  border: none;
}

window#whiskermenu-window scrolledwindow treeview.view {
  background-color: transparent;
  color: #ffffff;
  padding: 3px 3px 3px 10px;
}

window#whiskermenu-window scrolledwindow treeview.view:selected:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: #ffffff;
  border-radius: 50px;
}
